//fonts colors
$mainColor: rgb(177, 73, 130);
$secondaryColor: cornflowerblue;
$infoColor: black;
$otherColor:rgb(39, 121, 110);


//background text color
$backgroundColor: rgb(238, 192, 235, .5);

//backgroun nav color
$backgroundNav: rgb(180, 122, 214);

