body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-size: $textLg;
    color: map-get($map: $fontColor, $key:'uno' );
    gap: $gapLg;
    font-family: $mainFont;
    text-align: center;

}
h2{
    font-size: $textMd;
    gap: $gapMd;
    color: map-get($map: $fontColor, $key:'dos' );
    text-align: center;
}
h3{
    font-size: $textSm;
    color: map-get($map: $fontColor, $key:'uno' );
    gap: $gapMd;
    font-family: $mainFont;
    text-align: center;
}
h4{
    color: map-get($map: $fontColor, $key:'cuatro' );
    font-size: $textSm;
    gap: $gapSm;
    text-align: center;
}
h5{
    color: map-get($map: $fontColor, $key:'tres' );
    font-size: $textXs;
    gap: $gapSm;
    text-align: center;
}
main section p{
    background-color: map-get($map: $bgColor, $key:'uno' );
    color: map-get($map: $fontColor, $key:'tres' );
    font-size: $textSm;
    font-weight: $textHeavy;
}
    div section p{
        background-color: map-get($map: $bgColor, $key:'uno' );
        color: map-get($map: $fontColor, $key:'tres' );
        font-size: $textSm;
        font-weight: $textHeavy;
    }
    .header__img--position{
        position:absolute;
    }
    .header__titulo{
        border-bottom: double $mainColor 4px;
    }
    .main__form--text{
        font-size: $textMd;
    }
    .section__iframe--bombs{
        position: relative;
        width: 50%;
        margin: $gapLg 25%;
        
    }
    .section__video--steamers{
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
        margin-bottom: $gapLg;
    }
    @keyframes text--animation{
        from{opacity: 0;}
        to{opacity: 1;}
    }
    .text--animation{
        animation-name: text--animation;
        animation-duration: 3s;
    }

    .button-bg{
        background-color: map-get($map: $bgColor, $key:'tres' );
    }
    .card-bg{
        background-color: map-get($map: $bgColor, $key:'uno' );
    }

    
    //Relative para desktop

    @media screen and (min-width: 992px){
        .grid-layout{
        display: grid;
        grid-template-columns: 40% 20% 40% ;
        grid-template-rows: 50px 100px 500px 500px 100px;
        width: 100%;
        margin: 0 auto;   
        }
    
    .main__video--position{
        width: 70%;
        margin: 4vh 15%;
        margin-top: 2vh;
    }
    .main--info{
        text-align: center;
        gap: $gapMd;
        margin: 4vh 1vw;  
        overflow-y:hidden;  
    }
    .main--info1{
        text-align: center;
        gap: $gapMd;
        margin: 4vh 0;  
        overflow-y:auto;
        width: 90%;
        max-height: 15em;

    }
    .flex-usos{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .menu{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .header{
        grid-column: 1/4;
        grid-row: 1/3;
        
    }   
    .main{
        grid-column: 1/3;
        grid-row: 3/5;
        margin-top: $gapXxl;
    }
    .texto-1{
        grid-column: 3/4;
        grid-row: 3/4;
        margin-top: $gapXxl;
        margin-right: $gapXxl;
        display: flex;
    }
    .texto-2{
        grid-column: 3/4;
        grid-row: 4/5;
        margin-top: $gapXl;
        margin-right: $gapXxl;
    }
    .pie{
        grid-column: 1/4;
        grid-row: 5/6;
        margin-top: auto;
        }
    .iframe{
        width:"560vw"; 
        height:"350vh";
        }
    .video{
        width:"560vw"; 
        height:"350vh";
            
        }
    .flex-contacto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }
    .main__form--position{
        margin: $gapSm;
        }
    .mapa{
        margin: $gapSm ;
        }
        .section__div--bombs{
            margin-top: $gapXs;
            display: grid;
            grid-template-columns: 400px 400px 400px;
            grid-template-rows: 400px 400px;
            grid-template-areas: 
            "unicornio oso oso"
            "unicornio star nube";  
            justify-content: center; 
            
            
        }
        .unicornio{
        grid-area: unicornio;
        width: 100%;
        height: 100%;
        align-items: center;
        object-fit: cover;
    
        }
        .oso{
        grid-area: oso;
        width: 100%;
        height: 100%;
        margin-left: $gapXs;
        margin-bottom: $gapXs;
        align-items: center;
        object-fit: cover;
        }
        .estrella{
        grid-area: star;
        width: 100%;
        height: 100%;
        margin-left: $gapXs;
        align-items: center;
        object-fit: cover;
        }
        .nube{
        grid-area: nube;
        width: 100%;
        height: 100%;
        margin-left: $gapXs;
        align-items: center;
        object-fit: cover;
        }
    
    }


    //se realiza relative para tablet

    @media screen and (max-width:991px){
        .grid-layout{
        display: grid;
        grid-template-columns: 40% 60% ;
        grid-template-rows: 50px 100px 500px 300px 100px;
        width: 100%;
        margin: 0 auto;   
        }
        .main__video--position{
            width: 450px;
            height: 450px;
            margin-top: 2vh;
        }
        .main--info{
            text-align: center;
            overflow-y:hidden;  
        }
        .main--info1{
            text-align: center;
            gap: $gapMd;
            margin: 4vh 0;  
            overflow-y:auto;
            width: 90%;
            max-height: 15em;
        }
        .body{
            overflow-x: hidden;
        }
        .menu{
            grid-column: 1/3;
            grid-row: 1/2;
            }
            .header{
            grid-column: 1/3;
            grid-row: 1/3;
        
            }   
            .main{
            grid-column: 2/3;
            grid-row: 3/5;
            margin-top: $gapXxl;
            margin-right: $gapMd;
            margin-left: $gapSm;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            }
            .texto-1{
            grid-column: 1/2;
            grid-row: 3/4;
            margin-top: 10vh;
            margin-left: $gapMd;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            }
            .texto-2{
            grid-column: 1/2;
            grid-row: 4/5;
            
            margin-left: $gapMd;
            display: flex;
            flex-direction:row-reverse ;
            justify-content:flex-end;
            }
            .pie{
            grid-column: 1/3;
            grid-row: 5/6;
            padding-top: $gapXxl;
            }
            .flex-contacto{
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-around;
                align-items: center;
            }
            .mapa{
                margin: $gapSm ;
            }
            .main__form--position{
                margin: $gapSm;
            }
            .section__div--bombs{
                margin-top: $gapSm;
                display: grid;
                grid-template-columns: 400px 400px ;
                grid-template-rows: 400px 400px 400px;
                grid-template-areas: 
                "unicornio oso"
                "unicornio star"
                "nube nube";  
                justify-content: center; 
                
            }
            .unicornio{
                grid-area: unicornio;
                width: 100%;
                height: 100%;
                align-items: center;
                object-fit: cover;
            
                }
                .oso{
                grid-area: oso;
                width: 100%;
                height: 100%;
                margin-left: $gapXs;
                margin-bottom: $gapXs;
                align-items: center;
                object-fit: cover;
                }
                .estrella{
                grid-area: star;
                width: 100%;
                height: 100%;
                margin-left: $gapXs;
                align-items: center;
                object-fit: cover;
                }
                .nube{
                grid-area: nube;
                width: 100%;
                height: 100%;
                margin-top: 5px;
                margin-left: 5px;
                align-items: center;
                object-fit: cover;
            }

        
        }

        //se realiza relative para mobile

    @media screen and (max-width:768px){
            .grid-layout{
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 50px 100px 500px 500px 500px 100px;
            width: 100%;
            margin: 0px 0px;   
            }
            .main__video--position{
                width: 400px;
                height: 400px;
                margin-top: 2vh;
            }
            .main--info{
                text-align: center;
                margin-top: $gapSm;
                overflow-y: hidden;  
            }
            .menu{
                grid-column: 1/2;
                grid-row: 1/2;
                }
                .header{
                grid-column: 1/2;
                grid-row: 1/3;
            
                }   
                .main{
                grid-column: 1/2;
                grid-row: 3/4;
                margin-top: 150px;
                margin-right: $gapMd;
                margin-left: $gapMd;
                
                justify-content: center;
                }
                .texto-1{
                grid-column: 1/2;
                grid-row: 4/5;
                margin-top: $gapXxl;
                margin-left: $gapMd;
                margin-right: $gapMd;
                
            
                }
                .texto-2{
                grid-column: 1/2;
                grid-row: 5/6;
                margin-right: $gapMd;
                margin-left: $gapMd;
                
                }
                .pie{
                grid-column: 1/2;
                grid-row: 5/7;
                margin-top: 200px;
                }
                .flex-contacto{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    }
                .mapa{
                    margin: $gapSm ;
                }
                .main__form--position{            
                    margin: $gapSm;
                }
                .section__div--bombs{
                    margin-top: $gapSm;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;   
                }
                
                .unicornio{
                    grid-area: unicornio;
                    width: 70%;
                    height: 70%;
                    margin-bottom: $gapXs;
                    align-items: center;
                    object-fit: cover;
                
                }
                .oso{
                    grid-area: oso;
                    width: 70%;
                    height: 70%;
                    margin-bottom: $gapXs;
                    align-items: center;
                    object-fit: cover;
                    margin-right: $gapXs;
                }
                .estrella{
                    grid-area: star;
                    width: 70%;
                    height: 70%;
                    margin-bottom: $gapXs;
                    margin-right: $gapXs;
                    align-items: center;
                    object-fit: cover;
                }
                .nube{
                    grid-area: nube;
                    width: 70%;
                    height: 70%;
                    margin-right: $gapXs;
                    align-items: center;
                    object-fit: cover;
                }
            }