//Fonts google
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
$mainFont: 'Noto Sans', sans-serif;


//Sizings

$textMd: 2em;
$textLg: 3em;
$textSm: 1.5em;
$textXs: 1.3em;

//spacings

$gapSm: 20px;
$gapMd: 30px;
$gapLg: 40px;
$gapXl: 50px;
$gapXxl: 100px;


//weights
$textHeavy:700;
$textBold:600;
$textRegular:400;

//Styles
$textItalic: italic;


